# Exemple de configuration des secrets pour Thoth (Copier sous le nom '.env')
# NE JAMAIS COMMITTER LE FICHIER '.env' CONTENANT LES VRAIES VALEURS

# MinIO / S3 Credentials
MINIO_SECRET_KEY=Superman69230

# MQTT Credentials
MQTT_PASSWORD=Superman69230
